<!DOCTYPE html>
<html>
<head>
  <title>Stacker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="col-xs-3">
      STACKER
    </div>
    <div class="col-xs-4">
      A tool for creating custom stacks
    </div>
    <div class="col-xs-5">
      <%= link_to 'Add an Item', '#' %>
    </div>
  </header>

  <br class="clear" />

<%= yield %>

</body>
</html>