<!DOCTYPE html>
<html>
<head>
  <title>Stacker</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="col-xs-3">
      <div class="circle">STACKER</div>
    </div>
    <div class="col-xs-4 slogan">
      A tool for creating custom stacks
    </div>
    <div class="col-xs-5 links">
      <%= link_to 'Add an Item', '#' %>
    </div>
  </header>
  <hr />
  <br class="clear" />

<div class="container">
  <%= yield %>
</div>

<div class="footer">
  <div class="container">
    <p class="text-muted">Created by Erin Madison Anthony</p>
  </div>
</div>

</body>
</html>